*{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  
  
  
}
 body{

   color: red;
   background: rgb(0,0,0);
background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 33%, rgba(25,185,182,1) 58%);
background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 33%, rgba(25,185,182,1) 58%);
background: linear-gradient(90deg, rgba(0,0,0,1) 33%, rgba(25,185,182,1) 58%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#19b9b6",GradientType=1);

 letter-spacing: 2px;
 padding: 7px;
 margin: 7px;
 }

h1{
  text-align: center;
}

h2{
  text-align: center;
  color: red;
}
p{
  color: #ffffff;
  padding: 10px;
  font-size: 20px;
}

#centralizar{
  margin: auto;
  display: block;
  width: 80%;
  padding: 20px;
  
}

#centralizar2{
  text-align: center;
  font-size: 20px;
  padding: 5px;
}

button{
      height: 40px;
      width: 150px;
      font-size: 20px;
      cursor: pointer;
      border: 3px solid #cfff00;
      border-radius: 10px;
      background: rgb(0,0,0);
      background: linear-gradient(90deg, rgba(0,0,0,1)
      33%, rgba(25,185,182,1) 58%);
      color: #ffffff;
      padding: 5px;
      text-align: center;
     
}

#caixa{
  width: 40%;
  min-width: 350px;
  background-color: white;
  border-radius: 5px;
  color: black;
  box-shadow: 0 15px 30px rbga(0,0,0, 0.3);
  margin: 100px auto;
  padding: 20px
  text-align: center;
}

img{
  width: 95%;
  padding: 10px;
}